@model int

<div class="container row pt-4">
    <div class="col-12 text-center">
        <h1 class="text-primary text-center">Order placed Succesfully! </h1>
        Your Order Number is : @Model<br/><br/>
        <img width="65%" src="~/images/lawn_leaf.jpg" />
    </div>
    <div class="col-12 text-center" style="color:maroon;">
        <br/>
        Your order has been placed succesfully!<br/>
    </div>
    
</div>